/*index side*/

.container-index {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #ddd;
    background-color: #282828;
    background-image: url('img/placeholder-image-background-dark.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.logo-img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.index-img {
    max-width: 100%;
    height: auto;
}


.index-main {
    padding: 20px 0;
}

.large-story {
    margin-bottom: 20px;
    border-bottom: 2px solid #282828;
    border-top: 2px solid #282828;
}

.large-story a {
    color: inherit;
    text-decoration: none;
}

.large-story img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}

.stories {
    display: flex;
    gap: 20px;
}

.story {
    flex: 1; 
    padding: 10px;
    border-bottom: 2px solid #282828;
}

.story a {
    color: inherit;
    text-decoration: none;
}



.contributor-names {

display: flex;
text-align: center;
padding-inline: 20%;
justify-content: center;

}



@media only screen and (max-width: 768px) {
    .stories {
        flex-direction: column; 
        padding: 10px; 
    
    }
}



/*story 1 side*/

.container-HistorieLiten1 {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #282828;
    background-image: url('img/placeholder-image-background-dark.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.HistorieLiten1-img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}

.head-HistorieLiten1 { 
    border-bottom: 4px solid #ddd;
    padding-bottom: 6%; 
    padding-top: 4%;
}

.logoHistorieLiten1-img {
    max-width: 20%;
    height: auto;
    display: block;
}


.HistorieLiten1-main {
    padding: 20px 0;
}


/* Bilde og tekst story 1 */
#container-collage {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto; 
    position: relative; 
    overflow: hidden; 
}

#image-collage {
    max-width: 100%; 
    height: auto; 
}

.button-collage {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    width: 50px; 
    height: 50px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
    transition: all 0.3s ease; 
}

.button-collage img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%; 
}

.button-collage:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4),
    0 0 0 10px rgba(222, 222, 221, 0.6); 
}

.button-collage:nth-of-type(1) {
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
}

.button-collage:nth-of-type(2) {
    right: 10px;
    top: 50%; 
    transform: translateY(-50%); 
}
#text-collage {
    text-align: center;
    margin-top: 10px;
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ddd; 
    border-radius: 5px; 
}

@media (max-width: 800px) {
    #container-collage {
        flex-direction: column;
        position: static; 
        align-items: center; 
    }

    .button-collage {
        position: static; 
        width: 40px; 
        height: 40px;
        margin-top: 35px;
        margin-bottom: 3px;
    }

    #image-collage {
        margin: 0; 
    }
    
}






.container-template {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #282828;
    background-image: url('img/placeholder-image-background-dark.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.template-img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}

.head-template { 
    border-bottom: 4px solid #ddd;
    padding-bottom: 6%; 
    padding-top: 4%;
}

.logotemplates-img {
    max-width: 20%;
    height: auto;
    display: block;
}


.template-main {
    padding: 20px 0;
}

/*Dark Mode*/
.dark-mode.container-index {
    color: #282828;
    background-color: #ddd;
}

.dark-mode.container-template {
    color: #282828;
    background-color: #ddd;
}

.dark-mode.container-HistorieLiten1 {
    color: #282828;
    background-color: #ddd;
}

#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    width: 8vw;
    height: 8vw; 
    background-color: transparent;
    background-image: url('img/darkmode-button.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    border: none; 
}

@media only screen and (min-width: 1000px) {
    #darkModeToggle {
        width: 80px;
        height: 80px; 
    }
}

@media only screen and (max-width: 725px) {
    #darkModeToggle {
        width: 57px;
        height: 57px; 
    }
}