:root {
    --eradark: #282828; 
    --eralight: #ddd;    
}

/*index side*/

.container-index {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--eralight);
    background-color: var(--eradark);
    background-image: url('img/placeholder-image-background-dark.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.logo-img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.index-img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}


.index-main {
    padding: 20px 0;
}

.large-story {
    margin-bottom: 20px;
    border-radius: 2%;
    padding: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);

}

.large-story a {
    color: inherit;
    text-decoration: none;
}

.large-story img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;

}

.stories {
    display: flex;
    gap: 20px;
}

.story {
    flex: 1; 
    padding: 25px;
    border-radius: 2%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.story a {
    color: inherit;
    text-decoration: none;
}



.contributor-names {

display: flex;
text-align: center;
padding-inline: 20%;
justify-content: center;

}

/* Dark Mode */
.dark-mode.container-index {
    color: var(--eradark);
    background-color: var(--eralight);
}


#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    background-color: transparent;
    background-image: url('img/darkmode-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 10;
}





@media only screen and (max-width: 768px) {
    .stories {
        flex-direction: column; 
        padding: 10px; 
    
    }
}



/*story 1 side*/

.container-HistorieLiten1 {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--eradark);
    /* background-image: url('img/placeholder-image-background-dark.png');*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.HistorieLiten1-img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}

.head-HistorieLiten1 { 
    border-bottom: 4px solid var(--eralight);
    padding-bottom: 6%; 
    padding-top: 4%;
}

.logoHistorieLiten1-img {
    max-width: 20%;
    height: auto;
    display: block;
}


.HistorieLiten1-main {
    padding: 20px 0;
}


/* Bilde og tekst story 1 */
#container-collage {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto; 
    position: relative; 
    overflow: hidden; 
}

#image-collage {
    max-width: 95%; 
    height: auto; 
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 4%;
}

.button-collage {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    width: 50px; 
    height: 50px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
    transition: all 0.3s ease; 
}

.button-collage img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%; 
}

.button-collage:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4),
    0 0 0 10px rgba(222, 222, 221, 0.6); 
}

.button-collage:nth-of-type(1) {
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
}

.button-collage:nth-of-type(2) {
    right: 10px;
    top: 50%; 
    transform: translateY(-50%); 
}

.text-collage {
    font-size: larger;
    text-align: left;
    margin-top: 10px;
    padding: 10px;  
    color: var(--eralight);
    border-radius: 5px; 
}

.title-collage {

    text-align: center;
    margin-top: 30px; 
    color: var(--eralight);
    border-radius: 5px; 
    font-size: 250%;
    
}

@media (max-width: 800px) {
    #container-collage {
        flex-direction: column;
        position: static; 
        align-items: center; 
    }

    .button-collage {
        position: static; 
        width: 40px; 
        height: 40px;
        margin-top: 35px;
        margin-bottom: 3px;
    }

    #image-collage {
        margin: 0; 
    }
    
}


/*seksjon for intervjuer*/

.interview-section {
    width: 92%;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--eradark);
    color: var(--eralight);
    border-radius: 25px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.interview-section__image {
    flex: 1; 
}

.interview-section__image img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

.interview-section__text {
    flex: 1; 
    padding: 20px; 
    text-align: left; 
}

.interview-section__text h2 {
    margin-top: 0; 
    font-size: 1.5em; 
}

.interview-section__text p {
    line-height: 1.6; 
}

@media (max-width: 800px) {
    .interview-section {
        flex-direction: column; 
        text-align: left; 
    }

    .interview-section__image,
    .interview-section__text {
        flex: none; 
        width: 100%; 
    }

    .interview-section__image img {
        max-width: 100%; 
        height: auto; 
    }
}

/*seksjon for intervjuer speilvendt*/

.interview-section-mirrored {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--eradark);
    color: var(--eralight);
    border-radius: 25px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.interview-section-mirrored__text {
    flex: 1;
    padding: 20px;
    text-align: left; 
}

.interview-section-mirrored__text h2 {
    margin-top: 0;
}

.interview-section-mirrored__image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.interview-section-mirrored__image img {
    max-width: 100%;
    height: auto;
}

/* Dark Mode */
.dark-mode.container-HistorieLiten1 {
    color: var(--eradark);
    background-color: var(--eralight);
}

#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    background-color: transparent;
    background-image: url('img/darkmode-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 10;
}

.dark-mode.text-collage {
    color: var(--eradark);
   
}

.dark-mode.title-collage {
    color: var(--eradark);
}

.dark-mode.head-HistorieLiten1 { 
    border-bottom: 4px solid var(--eradark);

}

@media (max-width: 800px) {
    .interview-section-mirrored {
        flex-direction: column;
    }

    .interview-section-mirrored__text {
        order: 2; 
        text-align: left; 
    }

    .interview-section-mirrored__image {
        order: 1; 
    }

    .interview-section-mirrored__image img {
        max-width: 100%; 
        height: auto; 
    }
}


/*story 2 side*/



.container-HistorieLiten2 {
    width: 100%;
    min-width: 700px;
    margin: 0 auto;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--eradark);
    color: var(--eralight);
    position: relative; 
}

.background-HistorieLiten2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/maps-story-bilde1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: opacity 0.5s ease; 
    z-index: -1; 
    opacity: 1; 
}

.background-HistorieLiten2.faded::before {
    opacity: 0; 
}


.head-HistorieLiten2 {
    transition: transform 0.3s ease-in-out;
}

.hide-header {
    transform: translateY(-100%);
}

.logoHistorieLiten2-img {
    padding-top: 3%;
    padding-left: 3%;
    min-width: 5%;
    max-width: 12%;
    height: auto;
    display: block;
}


.HistorieLiten2-main {
    padding: 20px 0;
    text-align: center;
}

.HistorieLiten2-starttekst {
    display: flex;
    font-size: x-large;
    justify-content: center;  
    align-items: center;  
    width: 100%;
    height: 78vh;  
    text-align: center;
    padding: 20px; 
    box-sizing: border-box; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}


.HistorieLiten2-ptext {
    margin-top: 100vh;  
    font-size: larger;
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    text-align: center;
    width: 100%;
}

.HistorieLiten2-endtext {
    display: flex;
    font-size: x-large;
    justify-content: center;  
    align-items: center;  
    width: 100%;
    height: 78vh;  
    text-align: center;
    padding: 20%; 
    box-sizing: border-box; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}




.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.image-container {
    width: 100%;
    aspect-ratio: 16 / 10;
    background-image: url('img/maps-story-bilde1.png');
    background-size: cover;
    background-position: center;
    transition: background-position 0.5s ease, background-size 0.5s ease, opacity 1s ease; /* Add opacity transition */
    opacity: 0; /* Initially set opacity to 0 */
    visibility: hidden; /* Initially hide the container */
    z-index: -1;
}




.carousel-button {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    width: 50px; 
    height: 50px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% auto;
    transition: all 0.3s ease; 
}

.carousel-button img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.carousel-button:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4),
                0 0 0 10px rgba(222, 222, 221, 0.6);
}

#carousel-prev {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#carousel-next {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.image-container, .text {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: 1;
}

.text {
    color: var(--eralight);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10%;
    width: 30%;
    font-size: larger;
    background-color: var(--eradark);
    background-position: fixed;
    transition: opacity 1s ease-in-out; 
    opacity: 0; 
    visibility: hidden; 
    box-shadow: 0px -10px 0px var(--eralight);
}

.text.show {
    opacity: 1;
    visibility: visible;
}

.text::after { 
    content: ''; 
    position: absolute; 
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    border-width: 10px; 
    border-style: solid; 
    border-color: transparent transparent var(--eradark) transparent;

}

#specialImage {
    max-width: 100%;
    height: auto;
    display: none;
    z-index: 1;
}



/* Dark Mode */
.dark-mode.container-HistorieLiten2 {
    color: var(--eradark);
    background-color: var(--eralight);
}

.dark-mode.head-HistorieLiten2 {
    border-bottom: 4px solid var(--eradark);

}

#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    background-color: transparent;
    background-image: url('img/darkmode-button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 10;
}

@media only screen and (max-width: 1150px) {
    .text {
        color: var(--eralight);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        margin-top: 15%;
        width: 50%;
        font-size: larger;
        background-color: #282828;
        transition: opacity 1s ease-in-out; 
        opacity: 0; 
        visibility: hidden; 
    }
    
}

@media only screen and (max-width: 750px) {
    .text {
        color: var(--eralight);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        margin-top: 25%;
        width: 50%;
        font-size: larger;
        background-color: #282828;
        transition: opacity 1s ease-in-out; 
        opacity: 0; 
        visibility: hidden; 
    }
    
}


/*story 3 side*/

.container-HistorieLiten3 {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--eradark);
    background-image: url('img/placeholder-image-background-dark.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--eralight);
}


.head-HistorieLiten3 { 
    border-bottom: 4px solid var(--eralight);
    padding-bottom: 6%; 
    padding-top: 4%;
}

.logoHistorieLiten3-img {
    max-width: 20%;
    height: auto;
    display: block;
}


.HistorieLiten3-main {
    padding: 20px 0;
}

/*Dark Mode*/

.dark-mode.container-HistorieLiten3 {
    color: var(--eradark);
    background-color: var(--eralight);
}

.dark-mode.head-HistorieLiten3 { 
    border-bottom: 4px solid var(--eradark);
 
}


#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    width: 8vw;
    height: 8vw; 
    background-color: transparent;
    background-image: url('img/darkmode-button.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    border: none; 
    z-index: 10;
}

@media only screen and (min-width: 1000px) {
    #darkModeToggle {
        width: 80px;
        height: 80px; 
    }
}

@media only screen and (max-width: 725px) {
    #darkModeToggle {
        width: 57px;
        height: 57px; 
    }
}



/*Story XL*/ 


.container-xlstory {
    width: 100%;
    max-width: 1500px; 
    min-width: 600px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--eradark);
    background-image: url('img/placeholder-image-background-dark.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.head-xlstory {
    position: fixed;
    padding-top: 2%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;   
    max-width: 1200px;  
    z-index: 1;
    transition: top 0.3s;
}

.xlstory-img {
    min-width: 50px;
    max-width: 10%;
    height: auto;
    display: block;
}

.xlstory-main {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 20px 0;
}


.xlstory-startcontent-background-image {
    background-image: url('img/XL/XLforside.jpg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-image 0.7s ease-in-out;
}



.xlstory-startcontent {
    position: relative;
    z-index: 1;
    color: var(--eralight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%; 
    text-align: center; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-size: x-large;
    max-width: 800px;
   
}

.xlstory-starttext {
    max-width: 800px; 
    position: relative;
    z-index: 1;
    color: var(--eralight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%; 
    text-align: center; 
    -webkit-text-stroke: 1px var(--eralight);
    font-size: x-large;
    
}

.XLstorycards {
    position: relative;
    z-index: 1;
    color: var(--eralight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: auto;
    left: auto;
    height: 90vh;
    width: 90%; 
    font-size: x-large;
    background-color: #ddd;
    border-radius: 3%;
}

.xlstory-imagecollage {
    display: grid;
    gap: 10px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease; 
    align-items: center;
    justify-items: center;
}
.xlstory-imagecollage img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease; 
}
.xlstory-imagecollage img.visible {
    opacity: 1;
    transform: scale(1);
}

@media only screen and (max-width: 560px) {
    .xlstory-startcontent {
    height: 105vh;
}

}

@media only screen and (max-width: 450px) {
    .xlstory-startcontent {
    height: 135vh;
}

}

@media only screen and (max-width: 360px) {
    .xlstory-startcontent {
    height: 165vh;
}

}




/*Template side*/


.container-template {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--eradark);
    background-image: url('img/placeholder-image-background-dark.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.head-template { 
    border-bottom: 4px solid var(--eralight);
    padding-bottom: 6%; 
    padding-top: 4%;
}

.logotemplates-img {
    max-width: 20%;
    height: auto;
    display: block;
}


.template-main {
    padding: 20px 0;
}

/*Dark Mode*/
.dark-mode.container-index {
    color: var(--eradark);
    background-color: var(--eralight);
}

.dark-mode.container-template {
    color: var(--eradark);
    background-color: var(--eralight);
}

.dark-mode.container-HistorieLiten1 {
    color: var(--eradark);
    background-color: var(--eralight);
}

#darkModeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    width: 8vw;
    height: 8vw; 
    background-color: transparent;
    background-image: url('img/darkmode-button.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    border: none; 
    z-index: 10;
}

@media only screen and (min-width: 1000px) {
    #darkModeToggle {
        width: 80px;
        height: 80px; 
    }
}

@media only screen and (max-width: 725px) {
    #darkModeToggle {
        width: 57px;
        height: 57px; 
    }
}