/*index side*/

.container-index {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url('img/placeholder-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.index-img {
    max-width: 100%;
    height: auto;
}


.index-main {
    padding: 20px 0;
}

.large-story {
    margin-bottom: 20px;

}
.large-story img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}

.stories {
    display: flex;
    gap: 20px;
}

.story {
    flex: 1; 
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}


.contributor-names {

display: flex;
text-align: center;
padding-inline: 20%;
justify-content: center;

}


@media only screen and (max-width: 768px) {
    .stories {
        flex-direction: column; 
        padding: 10px; 
    
    }
}



/*template1 side*/

.container-template1 {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
    /* 
    background-image: url('img/placeholder-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    */
}
.template1-img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}


.template1-main {
    padding: 20px 0;
}



/*template2 side*/

.container-template2 {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
    /* 
    background-image: url('img/placeholder-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    */
}
.template2-img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}


.template2-main {
    padding: 20px 0;
}



/*template3 side*/

.container-template3 {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    /* 
    background-image: url('img/placeholder-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    */
}
.template3-img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}


.template3-main {
    padding: 20px 0;
}



/*template4 side*/

.container-template4 {
    width: 100%;
    max-width: 800px; 
    min-width: 130px;
    margin: 0 auto; 
    padding: 20px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
 
    /* 
    background-image: url('img/placeholder-image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    */
}
.template4-img {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%; 
    height: auto;
}


.template4-main {
    padding: 20px 0;
}
